<div class="row">
  <div class="col-md-12">
    <img src="{{catalogDetail.imagePath}}"
    alt="{{catalogDetail.name}}"
     class="img-responsive"
     style="max-height : 250px;">
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <h1>{{catalogDetail.name}}</h1>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="btn-group">
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-primary">Delete</button>
        <button type="button" class="btn btn-primary">Add to Shopping Card</button>
    </div>
  </div>
</div>
